pipeline/PL_CHILDPIPELINE_RACE_RESULT.json
{
	"name": "PL_CHILDPIPELINE_RACE_RESULT",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.race_list",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable_activity_for_year",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "season_year",
								"value": {
									"value": "@item().season",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable_activity_for_round",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "round_id",
								"value": {
									"value": "@item().round_id",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data_result",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable_activity_for_round",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set variable_activity_for_year",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_SOURCE_SEASONS_DATA",
									"type": "DatasetReference",
									"parameters": {
										"relative_url": {
											"value": "@concat(variables('season_year'),'/',variables('round_id'),'/results.json?limit=100')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SEASONS_SINK_DATA",
									"type": "DatasetReference",
									"parameters": {
										"dir_name": {
											"value": "@concat('/bronze/result/',string(utcnow('yyyyMMdd')))",
											"type": "Expression"
										},
										"file_name": "race_result"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"parameters": {
			"race_list": {
				"type": "array"
			}
		},
		"variables": {
			"season_year": {
				"type": "String"
			},
			"round_id": {
				"type": "String"
			}
		},
		"annotations": []
	}
}