pipeline/PL_INGESTION_SEASONS_DATA.json
{
	"name": "PL_INGESTION_SEASONS_DATA",
	"properties": {
		"activities": [
			{
				"name": "Get_seasons_data",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "http://ergast.com/api/f1/seasons.json"
				}
			},
			{
				"name": "Activity_Set_variable_limit",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get_seasons_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "limit",
					"value": {
						"value": "@activity('Get_seasons_data').output.MRData.total",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web_activity_to_get_seasons_data",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Activity_Set_variable_limit",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('http://ergast.com/api/f1/seasons.json?limit=',variables('limit'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Activity_Set_variable_seasons_data",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web_activity_to_get_seasons_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "seasons_data",
					"value": {
						"value": "@{activity('Web_activity_to_get_seasons_data').output.MRData.SeasonTable.Seasons}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Activity_copy_data_from_API_to_JSON",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Activity_Set_variable_seasons_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "name",
								"value": {
									"value": "@variables('seasons_data')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "name",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SOURCE_DATA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SEASONS_SINK_DATA",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"limit": {
				"type": "String"
			},
			"seasons_data": {
				"type": "String"
			}
		},
		"annotations": []
	}
}